.styling{
height: 500px;
width: 650px;
margin-left: 23%;
}

#off{
    height: 40px;
    width: 70px;
    font-size: 20px;
}

#on{
    height: 40px;
    width: 70px;
    font-size: 20px;
}

#btn{
    height: 60px;
    width: 400px;
    margin-left: 44%;
}


#body{
    background-color: black;
}


.backgroundOn{
    background-image: url(yellow-back.jpg);
    background-size: cover;

}

.backgroundOf{
    background-color: black;
}







@media screen and (max-width: 480px) {
    .styling {
        height: 350px;
        width: 400px;
        margin-left: 0%;
       
    }

    #btn {
        height: 40px;
        width: 250px;
        margin-left: 0%;
    }

    #off, #on {
        height: 30px;
        width: 50px;
        font-size: 16px;
    }
}