.styling{
height: 500px;
width: 650px;
margin-left: 290px;
}

#off{
    height: 40px;
    width: 70px;
    font-size: 20px;
}

#on{
    height: 40px;
    width: 70px;
    font-size: 20px;
}

#btn{
    height: 60px;
    width: 200px;
    margin-left: 550px;
}


#body{
    background-color: black;
}


.backgroundOn{
    background-image: url(yellow-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.backgroundOf{
    background-color: black;
}








@media screen and (max-width: 480px) {
    .styling {
        height: 380px;
        width: 250px;
        margin-left: 45px;
       
    }

    #btn {
        height: 40px;
        width: 150px;
        margin-left: 110px;
    }

    #off, #on {
        height: 40px;
        width: 70px;
        font-size: 20px;
    }


    

.backgroundOn{
background-position: center;
}

}




@media screen and (max-width: 300px) {
    .styling {
        height: 350px;
        width: 200px;
        margin-left: 35px;
       
    }

    #btn {
        height: 40px;
        width: 150px;
        margin-left: 80px;
    }

    #off, #on {
        height: 30px;
        width: 60px;
        font-size: 16px;
    }


    

.backgroundOn{
    background-position: center;}

}

